.contact
	&-wrapper
		display: grid
		grid-template-columns: auto minmax(500px, 1fr)
		align-items: center
		+adap('gap', 80, 20)

	&__left 
		display: grid
		gap: 20px
		align-content: start

	&__items
		display: grid
		+adap('gap', 32, 20)

	&__item 
		display: flex
		align-items: flex-start
		gap: 10px

		line-height: 1.35
		+adap('font-size', 20, 16)
		text-wrap: balance

		svg 
			max-width: 22px
			max-height: 22px

			fill: $active

	&__map 
		width: 100%
		+adap('border-radius', 30, 16)

	&__tel,
	&__email
		+adap('font-size', 24, 20)
		align-items: center

		svg 
			max-width: 20px
			max-height: 20px

			fill: $active


	@media (max-width: 991px)
		&-wrapper
			grid-template-columns: 100%









































































































