.features
	&-wrapper
		display: flex
		flex-wrap: wrap
		+adap('gap', 20, 16)

	&__item 
		flex: 1 1 250px

		position: relative
		+adap('padding-top', 200, 140)
		+adap('padding-bottom', 32, 20)
		+adap('padding-inline', 36, 20)

		background: linear-gradient(200deg, #aebbc5 0%, #d6dfe6 100%)
		+adap('border-radius', 30, 16)
 
		&-img 
			position: absolute
			right: 0
			top: 0

			width: 100%
			+adap('max-height', 200, 140)
			object-position: top right


	@media (max-width: 1500px)
		&__item 
			flex-basis: 320px

	@media (max-width: 767px)
		&__item 
			flex-basis: 260px







































































































